{# USER FORM REGISTRATION #}

{% extends "template.twig" %}
{% set title = 'Зарегистрировать пользователся' %}



{% block content %}
    <div class="row">
        <div class="col-4">
            <h1>Зарегистрировать пользователся</h1>
            <h2></h2>
            <form method="post" action="/user/save/">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="userEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailDesc">
                    <small id="emailDesc" class="form-text text-muted">Type your email address</small>
                </div>
                <div class="form-group">
                    <label for="userPassword">Password</label>
                    <input type="password" name="userPassword" class="form-control" id="userPassword">
                    <small id="passwdDesc" class="form-text text-muted">Type your email address</small>
                </div>
                <button type="submit" class="btn btn-primary">Зарегать!</button>
            </form>
        </div>
    </div>

    {% for user in data %}
        {{ loop.index }}
    {% endfor %}

{% endblock %}
